/* ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/*-------------------------------- 768px --------------------------------*/
/* -------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .container .nav .menu {
        display: none;
    }
    .container .c1 ul .side {
        display: none;
    }
    .container .c1 ul li:nth-child(3) img {
        display: none;
    }
    .container .c1 ul li:nth-child(3) {
        display: none;
    }
    .container .nav .number {
        display: block;
        position: relative;
        left: 80%;
        width: 18%;
        font-style: normal;
        padding-bottom: .2rem;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .container .nav .number::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: #D1A954;
        transform: scale(0, 1);
        transition: transform .3s ease;
    }
    .container .nav .number:hover::after {
        transform: scale(1, 1);
    }
    .container .nav {
        position: relative;
    }
    .container .nav .burger_menu {
        display: block;
        position: absolute;
        top: 0;
        left: -40%;
        z-index: 1;
        width: 40%;
        height: 43.5rem;
        background: #333333;
        display: flex;
        justify-content: center;
        text-align: left;
        gap: 7%;
        padding: 0 0 0 5%;
        flex-direction: column;
        transition: all .3s ease;
    }
    .container .nav .bx {
        width: fit-content;
        height: fit-content;
        display: block;
        bottom: 40px;
        position: relative;
        
        color: #FFFFFF;
        font-size: 50px;
    }
    .container .nav .bx:hover ~ .burger_menu {
        left: 0;
    }
    .container .nav .burger_menu li a {
        position: relative;
        font-style: normal;
        padding-bottom: .5rem;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all .3s ease;
    }
    .container .nav .burger_menu li a:hover {
        color: #D1A954;
    }
    .container .nav .burger_menu .icons1 {
        display: flex;
        gap: 15%;
        margin-top: 10%;
    }
    .container .nav .burger_menu .icons1 a i{
        font-size: 65px;
        transition: all .3s ease;
    }
    .container .nav .burger_menu .icons1 a i:hover {
        color: #D1A954;
    }
    .container .nav .burger_menu .icons2 a i{
        font-size: 65px;
        transition: all .3s ease;
    }
    .container .nav .burger_menu .icons2 a i:hover {
        color: #D1A954;
    }
    .container .nav .burger_menu .icons2 {
        display: flex;
        gap: 15%;
    }
    .container .c1 ul li:nth-child(2) h1 {
        font-size: 55px;
    }
    .container .c2 ul li:nth-child(3) img {
        display: none;
    }
    .container .c2 ul {
        position: relative;
        left: 20%;
    }
    .container .c2 ul li {
        width: 500px;
    }
    .container .content-3 ul {
        gap: 5%;
        flex-wrap: wrap;
    }
    .container .content-3 ul li {
        width: 35%;
        margin-bottom: 4%;
    }
    .container .content-4 .content {
        width: 100%;
    }
    .container .content-6 .content ul li input {
        width: 100px;
    }
    .container .content-6 .content ul:nth-child(1) li {
        font-size: 12px;
    }
    .container .content-6 .inf {
        padding: 1% 30%;
        left: -18%;
    }
    .container .content-6 .submit {
        bottom: 60px;
        left: 64%;
    }
}
/* ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/*-------------------------------- 425px --------------------------------*/
/* -------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
@media screen and (max-width: 425px) {
    .container .nav .number {
        width: 27%;
        font-size: 12px;
        left: 70%;
    }
    .container .nav .bx {
        font-size: 35px;
        bottom: 35px;
    }
    .container .nav .burger_menu {
        width: 60%;
        left: -60%;
        height: 42rem;
        gap: 4%;
    }
    .container .nav .burger_menu .icons1 a i {
        font-size: 50px;
    }
    .container .nav .burger_menu .icons2 a i {
        font-size: 50px;
    }
    .container .c1 ul li:nth-child(2) {
        padding: 0 8%;
    }
    .container .c1 ul li:nth-child(2) h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .container .c1 ul li:nth-child(2) h3 {
        font-size: 15px;
        text-align: justify;
    }
    .container .c2 {
        margin-top: 10%;
        height: 40rem;
    }
    .container .c2 ul {
        flex-direction: column;
        text-align: center;
    }
    .container .c2 ul li {
        width: 500px;
        height: 250px;
        padding-right: 40%;
    }
    .container .c2 ul li:nth-child(2) {
        padding-right: 45%;
        margin-top: 3%;
    }
    .container .c2 ul li h2 {
        margin-bottom: 0%;
    }
    .container .content-4 .content ul:nth-child(1) li {
        font-size: 40px;
        line-height: 80px;
    }
    .container .content-4 .content ul:nth-child(2) li {
        font-size: 25px;
    }
    .container .content-4 .content ul:nth-child(2) li img {
        width: 100%;
    }
    .container .content-5 .head h1 {
        font-size: 35px;
    }
    .container .content-6 .head h1 {
        font-size: 35px;
    }
    .container .content-6 .content {
        position: relative;
        height: 10rem;
        margin-top: 0;
    }
    .container .content-6 .content ul:nth-child(1) {
        position: absolute;
        top: 80%;
        right: 43%;
    }
    .container .content-6 .content ul:nth-child(1) li {
        font-size: 13px;
        line-height: 13px;

    }
    .container .content-6 .inf {
        display: none;
    }
    .container .content-6 .submit {
        width: 140px;
        height: 40px;
        font-size: 15px;
        top: -20px;
        right: 0;
    }
    .container .footer {
        padding: 1.5% 1.5%;
    }
    .container .footer p {
        font-size: 10px;
    }
}